:root {
    --primary:#006462;
    --primary-lighter:#008886;
    --primary-darker:#004241;
    --secondary:#c10000;
    --secondary-lighter:#d50000;
    --secondary-darker:#a80000;
    --v-light-grey:#efefef;
    --light-grey:#dcdcdc;
    --mid-grey:#979797;
    --dark-mid-grey:#676767;
    --dark-grey:#313131;

}